<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="rexo.css" />
    <!--引用vue.js在线文件，安装-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- // 调用子组件，传递数据 lists 和事件 run -->
        <child :lists="lists" :run="run">
            <template slot-scope="a">
                {{a}}
            </template>
        </child>


    </div>

    <div id="counter-event-example">
        <p>{{ total }}</p>
        <!-- //3、父组件通过监听，来获取到这个广播信号 increment ，然后触发 incrementTotal 方法 -->
        <!-- 定义一个组件，名称可以随便起，只要是这种形式就行 xx-xx，主要为了监听内部的事件 -->
        <button-counter v-on:increment="incrementTotal"></button-counter>
        <br />
        <!-- <custom-input @run="run"></custom-input> -->
        <!-- <input v-model="something">   v-model="something"  是 :value="something" @input="something = $event.target.value" 的缩写。 会自动监听input-->
        <!-- <custom-input v-model="something"></custom-input> -->
        <input v-model="something"> 
        <br />
        {{something}}
    </div>
</body>
<script>

    // 定义子组件
    Vue.component('child', {
        props: ['lists', 'run'],
        methods: {
            testRun() {
                this.run()

                console.log(this);
                //console.log("自己的")
            }
        },
        template: `
              <div @click='testRun'>
                  <ul>
  
                      <li v-for="list in lists">
                          <slot :bbbbb="list"></slot>
                      </li>
  
  
                  </ul>
              </div>
          `
    });

    // 实例化 Vue
    var V = new Vue({
        el: '#app',
        data: {
            now: '',
            lists: [
                { id: 1, name: '孙悟空' },
                { id: 2, name: '猪八戒' },
                { id: 3, name: '沙和尚' },
                { id: 4, name: '唐僧' },
                { id: 5, name: '小白龙' },
            ],

            answer: 'Time is:'
        },
        watch: {
        },
        methods: {
            run() {
                console.log(77)
            }

        },
        mounted() {
            //this.now = this.dateFtt("yyyy-MM-dd hh:mm:ss", new Date());;

        }
    });

    // Vue.component('custom-input', {
    //     props:['something'],
    //     template: '<input type="text" @input="updateValue($event.target.value)"/>',
    //     methods: {
    //         updateValue: function (value) {
    //             this.$emit('input', value)
    //         }
    //     }
    // })

    //使用 v-on 绑定自定义事件  组件传递
    Vue.component('button-counter', {
        template: '<button v-on:click="incrementCounter">{{ counter }}</button>',//1、子组件内，有一个click，当点击的时候 触发 incrementCounter 方法
        data: function () {
            return {
                counter: 0
            }
        },
        methods: {
            incrementCounter: function () {
                this.counter += 1
                //使用 $on(eventName) 监听事件;使用 $emit(eventName) 触发事件
                this.$emit('increment', this.counter)//2、方法被触发以后，向父组件 发送一个信号广播，并传递参数 counter，名字就是 increment。
            }
        },
        mounted() {//常用，挂载完成后执行
            this.incrementCounter();
        }
    })

    new Vue({
        el: '#counter-event-example',
        data: {
            total: 0,
            something:''
        },
        methods: {
            incrementTotal(counter) {//4、incrementTotal 被触发，获取到参数 counter 值，执行相应的操作
                this.total = counter
            },
            
            // run(value) {
            //     this.something = value;
            //     console.log("来了");

            // }
        }
    })


</script>

</html>